{% extends "base.html" %}
{% block title %}Arduino {% endblock %}
{% block content %}
<h1>ARDUINO</h1>
<p>
    Arduino es una plataforma de hardware y software libre que permite construir proyectos electrónicos interactivos. Está compuesta por una placa de microcontrolador fácil de usar y un entorno de desarrollo integrado (IDE) en la computadora, que facilita la escritura de código para controlar dispositivos físicos. Es versátil y popular entre principiantes y expertos para crear desde sistemas simples, como encender luces con un sensor, hasta proyectos complejos de robótica o Internet de las Cosas (IoT). 
</p>

{% endblock %}