{% extends "base.html" %}
{% block title %}Github {% endblock %}
{% block content %}
<h1>GITHUB</h1>
<p>
    GitHub es una plataforma en la nube que aloja proyectos usando el sistema de control de versiones Git. Permite a los desarrolladores colaborar en código, compartir proyectos y rastrear cambios a lo largo del tiempo. Además de su uso principal en software, se puede usar para otros tipos de proyectos, como documentación o libros, y ofrece servicios como alojamiento de sitios web (GitHub Pages) y automatización (GitHub Actions). 
</p>
{% endblock %}